.carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    width: 100%; /* Resmin genişliğini kapsama */
    height: auto; /* Yüksekliği orantılı tutma */
  }
  
  .custom-caption {
    position: absolute;
    top: 20px; /* Üstten 20px uzaklıkta */
    left: 20px; /* Soldan 20px uzaklıkta */
    color: #fff; /* Yazı rengi */
    text-align: left; /* Metni sola hizala */
    background: rgba(0, 0, 0, 0.5); /* Şeffaf arka plan */
    padding: 20px; /* İç boşluk */
    border-radius: 10px; /* Köşe yuvarlama */
    max-width: 80%; /* Maksimum genişlik */
  }
  
  .custom-caption h2, .custom-caption h3, .custom-caption p {
    margin: 10px 0; /* Paragraflar arasında boşluk */
  }
  
  .shop-button {
    display: inline-block;
    padding: 10px 20px; /* Buton içi boşluk */
    margin-top: 10px; /* Üstten boşluk */
    color: #fff; /* Buton yazı rengi */
    background-color: #007bff; /* Buton arka plan rengi */
    border: none; /* Buton kenar çizgisi */
    border-radius: 5px; /* Köşe yuvarlama */
    cursor: pointer; /* İmleç işareti */
    text-transform: uppercase; /* Yazıyı büyük harf yapma */
    font-weight: bold; /* Yazı kalınlığı */
  }
  
  .shop-button:hover {
    background-color: #0056b3; /* Hover etkisi */
  }